<section  >
    <app-menu  id="menu" style="float:left;width: 20%;"></app-menu>
    <div style="height:100vh">
    <app-current-position></app-current-position>
    <div  id="Dashboard_stag" style="float: right;width: 70%;">
        <div class="container" id="sub_dash"  >
            <div class="row " style="height:50% ;" >
                <div class="col"  style="height: 30%;" >
                    <button routerLink="/formation/ajouter-formation" class="btn btn-outline-secondary" style="height: 100%;width: 100%;"> 
                        Ajouter une formation
                    </button>
                   </div>
                <div class="col "  style="height: 30%;">
                    <button routerLink="/formation/consulter-formations" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                        Consulter les formations
                    </button>
                </div>
                <div class="w-100"></div>

                <div class="col "  style="height: 30%;" >
                    <button routerLink="/formation/ajouter-participant" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                        Ajouter un participant 
                    </button>
                </div>
                <div class="col "  style="height: 30%;">
                    <button routerLink="/formation/consulter-participants" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                        Consulter les participants d'une formation
                    </button>
                </div>

                <div class="w-100"></div>

                <div class="col "  style="height: 30%;">
                    <button routerLink="/formation/ajouter-formateur" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                        Ajouter un formateur
                    </button>
                </div>
                <div class="col "  style="height: 30%;">
                    <button routerLink="/formation/consulter-formateurs" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                        Consulter les formateurs
                    </button>
                </div>
                <div class="w-100"></div>
                <div class="col "  style="height: 30%;">
                    <button routerLink="/formation/gerer-absence" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                        Gérer l'absence
                    </button>
                </div>
                <!-- <div  class="col "  style="height: 30%;">
                    <button routerLink="/stagiaire/banque-idees" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                        Banque des idées
                    </button>
                </div> -->
            </div>
        </div>
    </div>
</div>
</section>