.btn-outline-secondary{
  height: 10%;
}
.col{
    margin-bottom: 1%;
}
#sub_dash{
    display: flex;
  justify-content: center;
  align-items: center;
}
button{
  font-weight: bold;
  background-color: aliceblue;
}