<section  >
    <app-menu  id="menu" style="float:left;width: 20%;"></app-menu>
    <div style="height:100vh">
    <app-current-position></app-current-position>
    <div  id="Dashboard_stag" style="float: right;width: 70%;">
        <div class="container" id="sub_dash"  >
            <div class="row " style="height:50% ;" >
                <div class="col"  style="height: 30%;" >
                    <button routerLink="/stagiaire/type-stagiaire" class="btn btn-outline-secondary" style="height: 100%;width: 100%;"> 
                        Ajouter un stagiaire
                    </button>
                   </div>
                <div class="col "  style="height: 30%;">
                    <button routerLink="/stagiaire/liste-stagiaires" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                        Consulter les stagiaires
                    </button>
                </div>
                <div class="w-100"></div>

                <div class="col "  style="height: 30%;" >
                    <button routerLink="/stagiaire/ajouter-sujet" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                        Ajouter un sujet
                    </button>
                </div>
                <div class="col "  style="height: 30%;">
                    <button routerLink="/stagiaire/affecter-sujet" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                        Affecter un sujet
                    </button>
                </div>

                <div class="w-100"></div>

                <div class="col "  style="height: 30%;">
                    <button routerLink="/stagiaire/ajouter-encadrant" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                       Ajouter Encadrant
                    </button>
                </div>
                <div class="col "  style="height: 30%;">
                    <button routerLink="/stagiaire/affecter-encadrant" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                        Affecter un Encadrant
                    </button>
                </div>
                <div class="w-100"></div>
                <div class="col "  style="height: 30%;">
                    <button routerLink="/stagiaire/gerer-absence" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                        Gérer l'absence
                    </button>
                </div>
                <div  class="col "  style="height: 30%;">
                    <button routerLink="/stagiaire/banque-idees" class="btn btn-outline-secondary" style="height: 100%;width: 100%;">
                        Banque des idées
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</section>